.admin_c {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 15px;
  padding-top: 20px;
  /* border-radius: 10px 10px 0px 0px; */
}

.admin_c .admin_header {
  background-color: #b6622d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 50px;
  padding: 7px;
}

.admin_c .admin_body {
  background-color: #d9a774;
  padding: 10px;
}

.admin_c .admin_body .box-text {
  background-color: #ffffff;
  height: 200px;
}

.admin_c .admin_body .box-text .box-header {
  background-color: #c4c4c4;
  height: 40px;
  left: 86px;
}

.admin_c .custom-select {
  background-color: #ffffff;
}
