.read_c {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 15px;
    padding-top: 20px;
    /* border-radius: 10px 10px 0px 0px; */
  }
  
  .read_c .read_header {
    background-color: #b6622d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 70px;
    padding: 7px;
  }
  
  .read_c .read_body {
    background-color: #d9a774;
    padding: 10px;
  }
  
  .read_c .read_body .box-text {
    background-color: #ffffff;
    height: 200px;
  }
  
  .read_c .read_body .box-text .box-header {
    background-color: #c4c4c4;
    height: 40px;
    left: 86px;
  }
  
  .read_c .custom-select {
    background-color: #ffffff;
  }
  
  .ryzen{
      border-bottom: 1px solid #b6622d;
  }

  h2,
  h3{
      color: #b6622d;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }